@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*, h1, h2, h3, h4, h5, h6, label {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color:#f44336;
}

.fruitholder {
  background-color: #4CAF50;
  margin-top: 10px;
}
.fruitimage {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}